
.cardBody{
  max-height: 260px;
}

.cardChar{
  width: 200px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  max-height: 300px;
  overflow: hidden;
}

.imgChar{
  min-width: 200px;
  min-height: 120px;
}

.dateChar {
  border-top: 1px solid #cecece;
  padding: 10px;
}


@media screen and (max-width: 1265px) { 
  .cardChar{
    height: 310px;
  }
}