
.cardChar{
  width: 200px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  height: 350px;
}

.imgChar{
  width: 100%;
  height: 30vh;
  object-position: 60%;
  object-fit: cover;
}

.dateChar{
  display: inline-block;
  width: 100%;
}

.dateChar li {
  border-top: 1px solid #cecece;
  padding: 3px;
  width: 100%;
  list-style: none;
}

@media screen and (max-width: 750px) { 
  .gridChar{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
  }
}

@media screen and (max-width: 1265px) { 
  .cardChar{
    height: 310px;
  }
}