.asideBar {
  height: 100%;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 10px;
  width: 90%
}

.charList {
  display: inline-block;
  padding: 10px;
  height: 100%;
  width: 90%

}

.charList li {
  padding: 5px;
  list-style: none;
  border-bottom: 1px solid #cecece;
}

@media screen and (max-width: 924px) { 
  
  .asideBar{
    display: none;
  }
}