.asideBar {
  height: 100%;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 10px;
  width: 90%;
  display: none;
}

.visionList {
  display: grid;
  grid: repeat(3, 100px) / auto-flow 100px;
  padding: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.visionList li {
  padding: 5px;
  list-style: none;
}

.visionImg {
  width: 70px;
}

@media screen and (max-width: 924px) { 
  
  .asideBar{
    display: none;
  }
}