.asideBar {
  width: 100%;
  height: 100%;
  border-left: 1px solid #cecece;
  padding: 10px;
}

.charList {
  display: inline-block;
  padding: 10px;
  height: 100%;
  width: 100%;

}

.charList li {
  padding: 5px;
  list-style: none;
  border-bottom: 1px solid #cecece;
}

@media screen and (max-width: 768px) { 
  
  .asideBar{
    display: none;
  }
}