.promotions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  width: 100%;
  position: absolute;
  font-size: 50px;
  color: #ffffff;
  z-index: 2;
}

.bannerImg{
  width: 100%;
  height: 40vh;
  object-position: 20% 25%;
  object-fit: cover;
  filter: blur(2px);
  z-index: 1;
}