*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 3em;
  width: 100%;
  background-color: #cecece;
}

a {
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px solid black;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}