#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.appBody{
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%;
}

.gridChar{
  padding: 10px 30px;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, 310px);
}
