#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.appBody{
  padding: 20px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.gridChar{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, 350px);
}

/*(max-width: 924px)*/
@media screen and (max-width: 750px) { 
  
  .gridChar{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
  }
}

@media screen and (max-width: 400px) { 
  
  .gridChar{
    display: grid;
    grid-template-columns: repeat(1, 0.1fr);
  }

}
